div{border: 1px solid red;
    box-sizing: border-box;}
.warp{
    width: 100vw;
    height: 100vh;}

/* 헤더 영역 */
header{
    position: fixed;
    width: 100%;
    height: 15%;
    z-index: 3;
    margin-left: 20px;
    margin-top: 20px;
}
#home{
    position: relative;
    z-index: 4;
}
#dalbong{
    position: absolute; left: 30px;
    z-index: 5;
}

/* 메인 영역 */
.main_lp{
    position: absolute;
    margin-top: 5px;
    margin-bottom: 5px;
    top: 0;
    right: 0;
    width: 32vw;
    height: 99vh;
    overflow: hidden;
    z-index: 0;
}

#lp{
    left: 0;
    transform: translateY(50%);
    width: 200%;
    height: auto;
    animation: spin 8s linear infinite;
    z-index: 1;
}
#tonearm{
    position: absolute;
    margin-top: 20px;
    top: 1%;
    right: 10%;
    width: 30vw; height: 40vh;
    z-index: 2;
}

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.warp>.main_warp{
    width: 100vw; height: 100vh;
}
.main_signature{
    width: 50%;
    height: 80%;
}
.main_button{
    width: 50%;
    height: 20%;
}
.sigText{
    padding-top: 30%;
    padding-left: 20px;
    text-align: center;
}
p{font-family: 'Ownglyph_ParkDaHyun';}
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.main_button{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-size: 30px;
}
.main_warp .main_button .btn{
    background-image: url("../image/playicon.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
}




/* 프로필 영역 */



/* 프로젝트 영역 */



/* 각오 영역 */